@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .draggable-region {
        -webkit-app-region: drag;
    }

    .no-drag {
        -webkit-app-region: no-drag;
    }
}

@layer base {

    html,
    body {
        @apply h-full w-full overflow-hidden bg-background text-white select-none;
        /* App-like feel */
    }
}